@font-face {
  font-family: "norse-bold";
  src: url(./resources/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
}

.left-container {
  position: relative;
  width: 40vw;
  min-width: 300px;
  height: 100vh;
  background-image: url(./images/background.jpg);
  background-size: cover;
  color: white;
}

.left-container-title {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  position: absolute;
  width: 100%;
  top: 20vh;
  height: 100px;

  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;

  font-family: "norse-bold", cursive;
  font-size: 80px;
}

.left-container-title img {
  height: 100%;
  width: auto;
}

.left-container-footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);

  font-size: 12px;
  font-weight: lighter;
  white-space: nowrap;
}

.left-container-footer a {
  color: white;
}

.right-container {
  background-color: #f9fbfa;
  height: 100vh;
}

.right-container .dummy-text {
  margin: 15vh 20vw 5vh 60px;
  font-weight: 1000;
  font-size: 18px;
}

.right-container .helper-paragraph {
  margin-top: 1rem;
}

.right-container .form {
  padding: 0 60px 30px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.right-container .form p {
  font-size: 1.3rem;
  font-weight: 800;
  padding: 15px 0;
}

.right-container .log-in-text {
  margin-left: 60px;
  margin-top: ;
}

.right-container button {
  margin: 2rem 60px 2rem;
  width: 200px;

  font-size: 16px;
  font-weight: bold;

  color: #ffffff;
  background-color: #da9d57;

  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
}

a {
  font-weight: 1000;
}

em {
  font-style: italic;
}
